<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missions_to_Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container-fluid">
    <div class="jumbotron text-center">
      <h1>Have a Safe Landing!</h1>
      <p><a class="btn btn-primary btn-lg" href="../app/scrape" role="button">Fly SpaceX</a></p>
    </div>
    <img src="{{ mars_dict|safe }}" alt="mars">
    <h3>Mars Surface Report</h3>
    <h3>Mars Comparison Data</h3>
    <h3>Mars Specs Report</h3>
    </div>
  </div>
</body>

</htm>
